PORT=5001
MONGODB_URI=mongodb://hana_admin:Hana2026Admin@ac-4rwoaho-shard-00-00.bbrcmlj.mongodb.net:27017,ac-4rwoaho-shard-00-01.bbrcmlj.mongodb.net:27017,ac-4rwoaho-shard-00-02.bbrcmlj.mongodb.net:27017/hana?ssl=true&replicaSet=atlas-krzqvh-shard-0&authSource=admin
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=